:root {
  --popup-color: #e7efef;
  --game-btn-color: #90e39a;
}

* {
  font-family: "Roboto Slab";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

p,
label {
  font-weight: 600 !important;
}

.btn {
  font-weight: 800 !important;
}

.round-name-badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  background: rgba(3, 1, 44, 0.6);
  border-radius: 0 0 10px 10px !important;
  color: white;
}

.round-name-badge::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  left: -25px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 rgba(3, 1, 44, 0.6);
}

.round-name-badge::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  right: -25px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 rgba(3, 1, 44, 0.6);
}

.round-score-badge {
  background-color: rgba(3, 1, 44, 0.6);
  padding: 15px 30px !important;
  border-radius: 10px 0px 0px 4px !important;
  cursor: auto;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: background-color 0.3s;
}

.round-text {
  color: rgba(255, 255, 255, 0.7);
}

.game-mode-select:focus {
  border-color: #90e39a !important;
  box-shadow: inset 0px 0px 0px 1px #90e39a !important;
}

.validations-alerts-help-block {
  color: red;
}

/* react-map-gl override */

.mapboxgl-popup-tip {
  border-top-color: var(--popup-color) !important;
}
.mapboxgl-popup-content {
  padding: 0px 0px 10px 0px !important;
  border-radius: 10px !important;
  background-color: var(--popup-color) !important;
}

.mapboxgl-popup-img {
  border-radius: 8px 8px 0px 0px !important;
}

.mapboxgl-popup-name {
  font-size: 20px !important;
  font-weight: 700 !important;
}

/* MDBootstrap override */
/* Switch */

.form-check-input[type="checkbox"]:checked {
  background-color: var(--game-btn-color) !important;
}

.form-switch .form-check-input:checked[type="checkbox"]:after {
  background-color: var(--game-btn-color) !important;
}

.btn-play {
  background-color: var(--game-btn-color) !important;
}

.btn-back {
  background-color: #e3655b !important;
}

.btn-next {
  background-color: var(--game-btn-color) !important;
  position: relative;
  margin-top: 95%;
}

.btn-play-again {
  background-color: var(--game-btn-color) !important;
}

/* Modal */

.new-game-modal-header {
  padding: 0 !important;
}

/* Range */

.nb-rounds-range > .range > .form-range::-webkit-slider-thumb {
  background-color: var(--game-btn-color) !important;
}

.nb-rounds-range > .range > .form-range::-moz-range-thumb {
  background-color: var(--game-btn-color) !important;
}
.nb-rounds-range > .range > .form-range::-ms-thumb {
  background-color: var(--game-btn-color) !important;
}

.nb-rounds-range > .range > .thumb:after {
  background-color: var(--game-btn-color) !important;
}

.nb-rounds-range > .range > .thumb > .thumb-value {
  color: rgb(79, 79, 79) !important;
  font-weight: 600 !important;
}
