:root {
  --yellow: #fec148;
  --boldgray: #4e4e4e;
  --badge-color: var(--yellow);
}

.light-theme {
  --blue: #adcbff;
  --yellow-dark: #feb420;
  --red-dark: #de4a3f;
  --green: #90e39a;
  --faded-white: #f0f4f8;
  --gray: #d5e0eb;
  --game-btn-color: #90e39a;
  --game-btn-color-hover: #7cde88;
  --main-backgroung-color: #f0f4f8;
  --signup-color: var(--blue);
  --signup-color-hover: #99beff;
  --text-color: rgb(79, 79, 79);
  --mdb-warning-rgb: 254, 193, 72;
}

.dark-theme {
  --blue: #adcbff;
  --red: #f36f64;
  --red-dark: #e05a4b;
  --green: #76e28f;
  --faded-white: #e4e8ef;
  --gray: #2c3b53;
  --game-btn-color: #76e28f;
  --game-btn-color-hover: #64c77e;
  --main-backgroung-color: #1a202c;
  --signup-color: var(--blue);
  --signup-color-hover: #648cbf;
  --text-color: #fff;
  --mdb-warning-rgb: 254, 193, 72;
}

* {
  font-family: "Roboto Slab";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--main-backgroung-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

p,
label {
  font-weight: 600 !important;
}

.text-color {
  color: var(--text-color) !important;
}

.yellow {
  color: var(--yellow);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.text-boldgray {
  color: var(--boldgray) !important;
}

.btn {
  font-weight: 800 !important;
}

.round-name-badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  background: var(--badge-color) !important;
  border-radius: 0 0 10px 10px !important;
  color: var(--boldgray) !important;
}

.round-name-badge::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  left: -25px;
  width: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -25px 0 0 var(--badge-color);
}

.round-name-badge::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  right: -25px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 var(--badge-color);
}

.round-score-badge {
  background-color: var(--badge-color) !important;
  padding: 15px 30px !important;
  border-radius: 10px 0px 0px 4px !important;
  cursor: auto;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: background-color 0.3s;
  color: var(--boldgray) !important;
}

.page-badge {
  min-width: 100px;
  height: 30px;
  background: var(--badge-color) !important;
}

@media (max-width: 576px) {
  .page-badge {
    display: none;
  }
}

.language-selector > .dropdown-toggle::after {
  display: none;
}

.language-selector img {
  height: 20px;
  width: 20px;
}

.language-selector button {
  position: relative;
  padding: 0 8px;
  height: 36px;
  background-color: transparent;
  border: var(--main-backgroung-color);
  box-shadow: none;
}

.language-selector button:hover {
  background-color: var(--badge-color);
  box-shadow:
    inset 0 0,
    0 0 0.5em rgba(0, 0, 0, 0.3);
}

.language-selector button:focus {
  background-color: var(--badge-color);
}

.language-selector .dropdown-menu {
  background-color: var(--badge-color);
}

.theme-toggle svg {
  height: 20px;
  width: auto;
}

.theme-toggle .light-theme {
  color: #000;
}

.theme-toggle .dark-theme {
  color: #fff;
}

.theme-toggle button {
  position: relative;
  padding: 0 8px;
  height: 36px;
  width: 36px;
  background-color: transparent;
  border: var(--main-backgroung-color);
  background-color: none;
  box-shadow: none;
}

.theme-toggle button:hover {
  color: inherit;
  background-color: var(--badge-color);
  box-shadow:
    inset 0 0,
    0 0 0.5em rgba(0, 0, 0, 0.3);
}

.theme-toggle button:focus {
  background-color: var(--badge-color);
}

.round-text {
  color: rgba(255, 255, 255, 0.7);
}

.round-progress-bar {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 100px;
  height: 50px;
  z-index: 1;
}

.game-mode-select:focus {
  border-color: #90e39a !important;
  box-shadow: inset 0px 0px 0px 1px #90e39a !important;
}

.signup-form .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: var(--signup-color) !important;
  box-shadow:
    -1px 0 0 0 var(--signup-color),
    0 1px 0 0 var(--signup-color),
    0 -1px 0 0 var(--signup-color) !important;
}

.signup-form .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: var(--signup-color) !important;
  box-shadow: 0 1px 0 0 var(--signup-color) !important;
  border-top: 1px solid transparent !important;
}

.signup-form .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: var(--signup-color) !important;
  box-shadow:
    1px 0 0 0 var(--signup-color),
    0 -1px 0 0 var(--signup-color),
    0 1px 0 0 var(--signup-color) !important;
}

.signup-form .form-control ~ .form-notch .form-notch-leading {
  border-color: var(--signup-color) !important;
}

.signup-form .form-control ~ .form-notch .form-notch-middle {
  border-color: var(--signup-color) !important;
}

.signup-form
  .form-control:not(:placeholder-shown)
  ~ .form-notch
  .form-notch-middle {
  border-top: 1px solid transparent !important;
}

.signup-form .form-control ~ .form-notch .form-notch-trailing {
  border-color: var(--signup-color) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text !important;
  background-color: var(--main-backgroung-color);
}

.signup-form .form-control:focus ~ .form-label {
  color: var(--signup-color) !important;
}

.signup-modal {
  background-color: var(--faded-white) !important;
}

.modal-header {
  border-bottom-color: transparent !important;
}

.validations-alerts-help-block {
  font-size: 13px;
  color: red;
}

.border-effect-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border: 10px solid red;
  box-sizing: border-box;
  filter: blur(8px);
  animation: fadeOut 1s forwards;
  z-index: 1;
}

.border-effect-right-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  border: 10px solid red;
  box-sizing: border-box;
  filter: blur(8px);
  animation: fadeOut 1s forwards;
  z-index: 1;
}

.border-effect-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border: 10px solid red;
  box-sizing: border-box;
  filter: blur(8px);
  animation: fadeOut 1s forwards;
  z-index: 1;
}

.border-effect-left-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border: 10px solid red;
  box-sizing: border-box;
  filter: blur(8px);
  animation: fadeOut 1s forwards;
  z-index: 1;
}

.border-effect-color-false {
  border: 10px solid var(--red);
}

.border-effect-color-true {
  border: 10px solid #47a025;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.divider-container {
  display: flex;
  align-items: center;
}

.divider-border {
  border-bottom: 1px solid #999999;
  flex-grow: 1;
}

.divider-content {
  padding: 0 10px 0 10px;
}

.user-dropdown .btn {
  background-color: var(--badge-color) !important;
  color: black;
}

.user-dropdown .dropdown-menu {
  background-color: var(--badge-color) !important;
}

/* Logo */

.logo {
  display: none;
  height: 5vh;
}

.logo-container {
  padding: 1rem 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: start;
}

@media (min-width: 768px) {
  .logo-full {
    display: block;
  }
}

@media (max-width: 767px) {
  .logo-icon {
    display: block;
  }
}

/* react-map-gl override */

.mapboxgl-popup-tip {
  border-top-color: var(--faded-white) !important;
}
.mapboxgl-popup-content {
  padding: 0px 0px 10px 0px !important;
  border-radius: 10px !important;
  background-color: var(--faded-white) !important;
}

.mapboxgl-popup-img {
  border-radius: 8px 8px 0px 0px !important;
}

.mapboxgl-popup-name {
  font-size: 20px !important;
  font-weight: 700 !important;
}

/* MDBootstrap override */
/* Switch */

.form-check-input[type="checkbox"]:checked {
  background-color: var(--game-btn-color) !important;
}

.form-switch .form-check-input:checked[type="checkbox"]:after {
  background-color: var(--game-btn-color) !important;
}

.btn-play {
  background-color: var(--game-btn-color) !important;
}

.btn-play:hover {
  background-color: var(--game-btn-color-hover) !important;
}

.btn-signup {
  background-color: var(--signup-color) !important;
  box-shadow: none !important;
}

.btn-signup:hover {
  background-color: var(--signup-color-hover) !important;
  box-shadow: none !important;
}

.btn-login {
  background-color: var(--yellow) !important;
  box-shadow: none !important;
}

.btn-login:hover {
  background-color: var(--yellow-dark) !important;
  box-shadow: none !important;
}

.btn-back {
  background-color: var(--red) !important;
}

.btn-back:hover {
  background-color: var(--red-dark) !important;
}

.btn-menu-back {
  background-color: var(--badge-color) !important;
}

.btn-menu-back .hidden-text {
  max-width: 0;
  -webkit-transition: max-width 0.16s;
  transition: max-width 0.16s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.btn-menu-back:hover .hidden-text {
  max-width: 7rem;
}

@media (max-width: 576px) {
  .hidden-username {
    display: none;
  }
}

.btn-next {
  position: fixed;
  bottom: 30px;
}

.btn-next button {
  width: 500px !important;
  background-color: var(--badge-color) !important;
  color: var(--boldgray) !important;
}

@media (max-width: 576px) {
  .btn-next button {
    width: 300px !important;
  }
}

.btn-play-again {
  background-color: var(--game-btn-color) !important;
}

.btn-play-again:hover {
  background-color: var(--game-btn-color-hover) !important;
}

.stats-btn-active {
  background-color: var(--red) !important;
}

/* Modal */

.game-modal {
  background-color: var(--faded-white) !important;
}

.game-modal > .modal-header {
  padding: 0 !important;
}

.game-modal > .modal-footer {
  border: none;
}

.end-game-modal {
  background-color: var(--faded-white) !important;
}

.end-game-modal > .modal-footer {
  border: none;
}

/* Range */

.nb-rounds-range > .range > .form-range::-webkit-slider-thumb {
  background-color: var(--game-btn-color) !important;
}

.nb-rounds-range > .range > .form-range::-moz-range-thumb {
  background-color: var(--game-btn-color) !important;
}
.nb-rounds-range > .range > .form-range::-ms-thumb {
  background-color: var(--game-btn-color) !important;
}

.nb-rounds-range > .range > .thumb:after {
  background-color: var(--game-btn-color) !important;
}

.nb-rounds-range > .range > .thumb > .thumb-value {
  color: rgb(79, 79, 79) !important;
  font-weight: 600 !important;
}

/* */

.stats-link {
  color: var(--red);
}

.stats-link:hover {
  color: var(--red-dark);
}

.country-img {
  width: 220px !important;
  height: 220px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.country-img img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

/* Override PrimeReact */

.p-datatable .p-sortable-column.p-highlight {
  background-color: #f9dedc;
  color: var(--boldgray);
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: var(--boldgray);
}

.p-inputtext:enabled:hover {
  border-color: #f3bdba;
}

.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem #f9dedc;
  border-color: #f3bdba;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #f9dedc;
  border-color: #f9dedc;
  color: var(--boldgray);
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover,
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background-color: #f9dedc;
}

.p-paginator,
.p-datatable .p-datatable-header {
  background-color: var(--main-backgroung-color) !important;
  border: none;
}

.p-datatable-wrapper {
  border-radius: 5px;
}
